@font-face {
  font-family: "Electrical";
  src: url("../fonts/electrical.woff2") format("woff2"), url("../fonts/electrical.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
