* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a:hover {
  text-decoration: none;
}

p {
  font-family: $body-font;
}

#main {
  background: $black;
  min-height: calc(100vh - 368px);

  @media (max-width: 720px) {
    margin-top: 101px;
  }
}

// Generic Classes
.bg {
  &-red {
    background-color: $primary-colour;
  }
  &-black {
    background-color: $black;
  }
  &-white {
    background-color: $white;
  }
}

.txt {
  &-red {
    color: $primary-colour;
  }
  &-black {
    color: $black;
  }
  &-white {
    color: $white;
  }
}
