.features {
  .feature-item {
    color: #fff;
    height: 400px;
    margin: 0;
    padding: 100px 1rem 3rem;
    text-align: center;

    h3 {
      margin-bottom: 2rem;
      font-size: 1.875rem;
      text-transform: uppercase;

      &::after {
        content: "";
        width: 30%;
        background-color: $primary-colour;
        height: 2px;
        display: block;
        position: relative;
        left: 35%;
        top: 1rem;
      }
    }

    p {
      width: 70%;
    }

    button {
      color: #fff;
    }
  }
}
